@using EnjoyLearn.Web.Helpers
@{
    ViewBag.Title = "Home";
}


@*class="well"*@
<div class="containerView" ng-view="" ></div>

 

@*<div id="main" class="container" ng-view="" data-ng-animate="{enter: 'view-enter'}"></div>*@
 @{ Html.IncludeClientViews(); }
@section Scripts {
    <script>
        options = {
            userSignedIn: @Html.Raw(@Request.IsAuthenticated.ToString().ToLowerInvariant())
                  @*  words: @Html.Raw(Model.Accounts.ToJson())
     categories: @Html.Raw(Model.Accounts.ToJson()),
      accounts: @Html.Raw(Model.Accounts.ToJson())*@
            };
    </script>

 

}

@*<div id="sidebar_container">
        <div class="sidebar">
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>June 1st, 2013</h5>
            <p>
                2013 sees the redesign of our website. Take a look around and let us know what you think.<br />
                <a href="#">Read more</a>
            </p>
        </div>

    </div>*@
